* {
  margin: 0;
  background-color: #ffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* Heading Section */
nav {
  display: flex;
  width: 95%;
  margin: 20px;
  /* margin: 0px 10px 15px 15px; */
  align-items: center;
  justify-content: space-between;
}
nav ul li {
  display: inline-block;
  list-style: none;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  color: #121212;
  font-weight: bold;
  border: 2px solid transparent;
}
nav ul li:hover {
  border-top-color: #0866ff;
  border-bottom-color: #0866ff;
}
button {
  background-color: #0866ff;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  color: #ffffffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #65a0ff;
}
h1 {
  text-align: center;
  font-size: 40px;
  color: #121212;
}
h1 span {
  color: #0866ff;
}

p {
  text-align: center;
  color: #808080;
  margin-top: 15px;
  font-size: 18px;
  margin-bottom: 20px;
}

.border {
  align-content: flex-end;
  max-width: 60%;
  margin: auto;
  padding-top: 15px;
  border: none;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #ebf7fe;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.75);
}
.border ul {
  font-size: 20px;
  display: flex;
  list-style: none;
  gap: 70px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ebf7fe;
}
.border ul li {
  font-weight: bold;
  background-color: #ebf7fe;
  border-radius: 10px;
  list-style: none;
}
.border ul li a {
  text-decoration: none;
  background-color: #ebf7fe;
  color: #808080;
  font-weight: bold;
  cursor: pointer;
}
.border ul li a:hover {
  color: #0866ff;
  text-decoration: underline;
}
.container {
  display: flex;
  max-width: 60%;
  margin: auto;
  border: none;
  text-align: center;
  border: none;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.75);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 12px;
}
.box {
  width: 800px;
  height: 50vh;
  border: 1px solid rgb(217, 216, 216);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#box1 {
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 15px;
}
textarea {
  padding: 20px 50px;
  border: none;
  resize: none;
  align-self: left;
  text-align: left;
  font-size: 20px;
  scroll-behavior: smooth;
}
#box2 {
  background-color: rgb(255, 255, 255);
  border-bottom-right-radius: 15px;
}

#paste {
  margin-top: 20px;
  border-radius: 20px;
  padding: 15px 30px;
  border: none;
  color: #808080;
  font-size: 15px;
  background-color: #f3f3f3;
  cursor: pointer;
}

button i {
  font-size: 20px;
}
#paste:hover {
  background-color: rgb(245, 245, 254);
}

.final-stage {
  margin-top: 16%;
  display: flex;
  gap: 35%;
  margin-left: 30px;
  color: #808080;
}
.final-stage button {
  border-radius: 8px;
  background-color: #0866ff;
  color: #ffffff;
  cursor: pointer;
  border: none;
  font-weight: bold;
  padding: 6px 35px;
  font-size: 18px;
}
.final-stage button:hover {
  background-color: #01307a;
}

.final-stage-right {
  display: flex;
  margin-left: 30px;
  gap: 20px;
  margin-top: 44%;
  color: #808080;
}
.final-stage-right i {
  gap: 20px;
  margin: 0px 25px;
  font-size: 25px;
  cursor: pointer;
}
.final-stage-right i:hover {
  background-color: #ebe8e8;
}
